<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>TechNatura</title>
    <link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body>
<header>
    <h1>Gestion de stock TechNatura</h1>
</header>

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <img class="logo-icon" src="../assets/img/TechNatura.png" alt="Logo">
            TechNatura
        </div>
        <button class="navbar-toggle" id="navbar-toggle">☰</button>
        <ul class="navbar-menu" id="navbar-menu">
            <li>
                <a href="product.html">
                    <button id="button-produits" class="button">
                        <span class="menu-icon">📦</span>
                        Produits
                    </button>
                </a>
            </li>
            <li>
                <a href="categories.html">
                    <button id="button-catergories" class="button">
                        <span class="menu-icon">🏭</span>
                        Catégories
                    </button>
                </a>
            </li>
            <li>
                <a href="sale.html">
                    <button id="button-ventes" class="button">
                        <span class="menu-icon">💰</span>
                        Ventes
                    </button>
                </a>
            </li>
            <li>
                <a href="rapport.html">
                    <button id="button-rapports" class="button">
                        <span class="menu-icon">📊</span>
                        Rapports
                    </button>
                </a>
            </li>
            <li>
                <button id="button-fermer" class="button">
                    <span class="menu-icon">🚪</span>
                    Quitter
                </button>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <!-- Contenu principal ici -->
</div>

<script src="../assets/js/index.js"></script>
</body>
</html>