<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gerer les ventes</title>
</head>
<body>
<p>
    <button id="button-lister" class="button">Lister les ventes</button>
    <button id="button-ajouter" class="button">Ajouter une vente</button>
    <button id="button-modifier" class="button">Modifier une vente</button>
    <button id="button-supprimer" class="button">Supprimer une vente</button>
    <button id="button-retour" class="button">Retour</button>
</p>
</body>
</html>